body {
	background-color: #C9B466;
}

#mainContent {
	background-color: #2A4E71;
	margin: 60px 100px;
	padding: 30px; 20px;
	border: solid;
	border-radius: 40px;
}

h1 {
	clear: left;
	color: #3E0320;
	font-family: 'Droid Serif', serif;
	padding-left: 120px;
	border-width: 3px;
	border-style: dashed;
	margin-bottom: 50px;
}

.pullquote {
	margin-left:80px;
	margin-right:150px;
	font-size: 2em;
}

p {
	color: #3E0320;
}

nav ul li {
	display: inline;
}

nav ul {
	padding-left: 0;
	margin-left: 0;
	background-color: #3E0320;
	color: White;
	float: left;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
}

nav ul li a {
	padding: 0.2em 1em;
	background-color: #3E0320;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #6A0000;
}

nav ul li a:hover {
	background-color: #FF0007;
	color: #6A0000;
}