body {
	background-color: #74BB61;
}

#mainContent {
	background-color: #000000;
	margin: 50px 100px;
	padding: 30px; 20px;
	border: solid;
	border-radius: 30px;
}

h1 {
	clear: left;
	color: #9E1512;
	font-family: 'Indie Flower', cursive;
	padding-left: 100px;
	border-width: 2.5px;
	border-style: dashed;
	margin-bottom: 50px;
}

.pullquote {
	margin-left:75px;
	margin-right:130px;
	font-size: 2em;
}

p {
	color: #3E0320;
}

nav ul li {
	display: inline;
}

nav ul {
	padding-left: 0;
	margin-left: 0;
	background-color: #320138;
	color: White;
	float: left;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
}

nav ul li a {
	padding: 0.2em 1em;
	background-color: #320138;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

nav ul li a:hover {
	background-color: #68266F;
	color: #fff;
}